APP_NAME='At-Once'
APP_NAME_UPPER='AT-ONCE'
DOMAIN_NAME=at-once.info
APP_ENV=local
APP_KEY=base64:B63Cnd4s7XhudHxqErzCFyF6gZbRAEotviVZDlvgAUo=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST="127.0.0.1"
DB_PORT=3306
DB_DATABASE=atoncein_db
DB_USERNAME=root
DB_PASSWORD=

disk=ftp

FTP_HOST="119.13.109.10"
FTP_PORT=21
FTP_USER="atoncein"
FTP_PASSWORD="fp^djM0@HDL28Gow"

BROADCAST_DRIVER=log
CACHE_DRIVER=array
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST="mail-635.thaidata.cloud"
MAIL_PORT=587
MAIL_ENCRYPTION=null
MAIL_USERNAME="noreply@at-once.info"
MAIL_PASSWORD='qx7VN25jmd'
MAIL_PROTOCOL=pop3
MAIL_ACC_USER='account@at-once.info'
MAIL_ACC_PASSWORD='lLyJ1CSK'
MAIL_ACC2_USER='account2@at-once.info'
MAIL_ACC2_PASSWORD='OmidZUn8'
MAIL_CS_USER='cs@at-once.info'
MAIL_CS_PASSWORD='UV2zf3gL'
MAIL_CS2_USER='cs2@at-once.info'
MAIL_CS2_PASSWORD='Bnmi4lwc'
MAIL_CS3_USER='cs3@at-once.info'
MAIL_CS3_PASSWORD='mUmxc32fq'
MAIL_CS4_USER='cs4@at-once.info'
MAIL_CS4_PASSWORD='4FmDgkIRPe'
MAIL_FROM_ADDRESS="noreply@at-once.info"
MAIL_FROM_NAME="${APP_NAME}"
##MAIL_PASSWORD='h73qS5F0LV]d;d'

LINE_ACCESS_TOKEN="ttziMX7k38SXk6v0HDzJp4DfCyZicgwbvJhNJomZZmd"

LINE_ACCESS_TOKEN_MAIL="ttziMX7k38SXk6v0HDzJp4DfCyZicgwbvJhNJomZZmd"
LINE_ACCESS_TOKEN_CUSTOMER="Zb5qKEZ5jL2lRCk81qaJD5f3BTEmyYBn3qI5RgVAzJ8"
LINE_ACCESS_TOKEN_ATONCE="r79uEi5jEcGGvT4pshkKLX7CzD9zI6SLYPqnMNtsfQ6"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
GOOGLE_API_TRANSLATE_KEY="AIzaSyBLn0zj-msTDJHXg0QZncORDbS9BOPeyX4"
RECAPTCHA="6LcEE6ooAAAAAG-MajYBiMeCPj5AbIpm6w6J3uI0"

API_FILTER_MA="https://tokyoconsulting-thailand.tokyoconsulting-group.com/"
TCF_ID="22965"
