div.error{
    border:1px solid #d21515 !important;
}
small.error,
label.error,
span.error
{
    color:#d21515;
}
input.invalid,
textarea.invalid,
div.invalid{
    border:1px solid #d21515 !important;
}
small.invalid,
input.invalid,
label.invalid,
span.invalid
{
    color:rgb(210, 21, 21);
}
input.valid{
    border-color: #28a745;
}
input.valid:focus{

    /* background-color: #28a745 !important; */
    border-color: rgb(40, 167, 69);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(40 167 69 / 25%)
}
input.invalid:focus{

    /* background-color: #28a745 !important; */
    border-color: rgb(210, 21, 21);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(210 21 21 / 25%)
}
em.error{
    color: #d21515;
    font-size: 14px;;
}